.row
  .col-lg-12
    h1.page-header
      | Chart
      small  Visualization of logs
.row
  .col-md-3.col-md-push-9
    .row
      .col-md-12
        form.form.clearfix
          .form-group
            label Duration
            .input-group
              input.form-control#duration-start(type='text', placeholder='2016010113')
              span.input-group-addon to
              input.form-control#duration-end(type='text', placeholder='2016011019')
          button.btn.btn-success.btn-block.pull-right#duration-btn(onclick='fetchData()') Apply
      .col-md-12
        .col-md-6
          .material-switch
            input#status00(name='status', type='checkbox', checked)
            label.label-warning(for='status00')
            span &nbsp;&nbsp;&nbsp;&nbsp;定點
        .col-md-6
          .material-switch
            input#status01(name='status', type='checkbox', checked)
            label.label-primary(for='status01')
            span &nbsp;&nbsp;&nbsp;&nbsp;載客
        .col-md-6
          .material-switch
            input#status02(name='status', type='checkbox', checked)
            label.label-success(for='status02')
            span &nbsp;&nbsp;&nbsp;&nbsp;空車
        .col-md-6
          .material-switch
            input#status03(name='status', type='checkbox', checked)
            label.label-warning(for='status03')
            span &nbsp;&nbsp;&nbsp;&nbsp;休息
        .col-md-6
          .material-switch
            input#status04(name='status', type='checkbox', checked)
            label.label-default(for='status04')
            span &nbsp;&nbsp;&nbsp;&nbsp;登出
        .col-md-6
          .material-switch
            input#status05(name='status', type='checkbox', checked)
            label.label-info(for='status05')
            span &nbsp;&nbsp;&nbsp;&nbsp;前往
        .col-md-6
          .material-switch
            input#status06(name='status', type='checkbox', checked)
            label.label-default(for='status06')
            span &nbsp;&nbsp;&nbsp;&nbsp;未知
        .col-md-6
          .material-switch
            input#status07(name='status', type='checkbox', checked)
            label.label-danger(for='status07')
            span &nbsp;&nbsp;&nbsp;&nbsp;排班
      .col-md-12
        svg#d3-map(width='100%', height='400px')
  .col-md-9.col-md-pull-3
    .row
      .col-md-6.info-col.hide
        object(data='/static/img/thermometer.svg', type='image/svg+xml')
      .col-md-6.info-col.hide
        object(data='/static/img/rain.svg', type='image/svg+xml')
      .col-md-12#chart-div
script(src='/static/js/chart-script.js')
