.row
  .col-lg-12
    h1.page-header
      | Dashboard 
      small Statistics Overview
// /.row
.row
  .col-lg-4.col-md-12
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-taxi.fa-5x
          .col-xs-9.text-right
            .huge= taxi_logs_count
            div Taxi logs
      a(href='#')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-4.col-md-12
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-sun-o.fa-5x
          .col-xs-9.text-right
            .huge= weather_logs_count
            div Weather logs
      a(href='#')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-4.col-md-12
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-database.fa-5x
          .col-xs-9.text-right
            .huge= data_size
              |  MB
            div Data size
      a(href='#')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
// /.row
